{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- <link rel="stylesheet" tyoe="text/css" href="{% static 'css/cards.css' %}"> -->
{% endblock head %}

{% block content %}
<section class="shop" id="shop">
    <div class="middle-text">
        <h4>Proyectos</h4>
        <h2>Visualiza proyectos e invierte</h2>
    </div>
    <div class="shop-content">
        {% for project in projects %}
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="https://picsum.photos/id/1005/800/450" alt="" />
                </figure>
                <div class="article-body">
                    <h2>This is some title</h2>
                    <p>
                        Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue
                        bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                    </p>
                    <a href="#" class="read-more">
                        Read more <span class="sr-only">about this is some title</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class="row-btn">
        <a href="" class="btn">All Products</a>
    </div>
</section>

{% endblock content %}