{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" tyoe="text/css" href="{% static 'css/prizes.css' %}">
{% endblock head %}

{% block content %}
<section class="project-title">
    <div class="middle-text">
        <h4>Patrocina a {{ project.title }}</h4>


        <form method="post">
            {% csrf_token %}
            <div class="price-container">
                {{ form.amount }}
                {% if form.amount.errors %}
                <ul>
                    {% for error in form.amount.errors %}
                        <li class="errores">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <button type="submit" class="btn">Patrocinar<i class='bx bxs-right-arrow' ></i></button>
        </form>
    </div>
    <!-- rewards -->
    <section class="container">
        <div class="main">
            <h2>{{ project.title }} ofrece las siguientes recompensas exclusivas</h2>
            <ul class="cards">
                {% for reward in rewards %}
                <li class="cards_item">
                    <div class="card" tabindex="0">
                        <div class="card_image"><img
                                src="{{ reward.image.url }}"
                                alt="A side view of a plate of figs and berries. "></div>
                        <div class="card_content">
                            <h2 class="card_title">Recompensa a partir de ${{ reward.money_from }}</h2>
                            <div class="card_text">
                                <span class="note">{{ reward.name }}.</span>
                                <p>{{ reward.description }}</p>
                                
                            </div>
                        </div>
                    </div>
                </li>
               
                {% endfor %}
            </ul>
        </div>
    
    </section>
</section>
    





{% endblock content %}