{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ project.image.url }}" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-text">{{ project.goal_amount }} </p>
                <p class="card-text">{{ project.current_amount }}</p>
                <p class="card-text">{{ project.start_date }}</p>
                <p class="card-text">{{ project.end_date }}</p>
                <p class="card-text">{{ project.owner }}</p>
                <hr />
            </div>
        </div>
    </div>
</div>
{% endblock content %}