{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js "></script>
</head>
<body>
    {% if messages %} {% for m in messages %} <script> Swal.fire({ "title": "{{m}}", "icon":"{{m.tags}}" }) </script> {% endfor %} {% endif %}
    <div class="homebox">
        <section class="home" id="home">
            <h2>Add Balance</h2>
            <form method="post">
                {% csrf_token %}
                <div class="opciones">
                    <label for="{{ f.id_for_label }}"></label>
                    <div class="form-warp">
                        {{form.name}}
                    </div>
                    {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="opciones">
                    <label for="{{f.id_for_label}}"></label>
                    <div class="form-warp">
                        {{form.address}}
                    </div>
                    {% if form.address.errors %}
                    <ul>
                        {% for error in form.address.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="opciones">
                    <label for="{{f.id_for_label}}"></label>
                    <div class="form-warp">
                        {{form.amount}}
                    </div>
                    {% if form.amount.errors %}
                    <ul>
                        {% for error in form.amount.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <button type="submit">Add</button>
            </form>
        </section> 
    </div>
</body>
</html>
