{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" tyoe="text/css" href="{% static 'css/cards.css' %}">
{% endblock head %}

{% block content %}
<section class="project-title">
    <h1>Tus patrocinios</h1>
</section>
<div class="effect">
    <section class="articles">
        {% for project in  projects %}
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="{{ project.project.image.url }}" alt="" />
                </figure>
                <div class="article-body">
                    <h2>{{ project.project.title }}</h2>
                    <p>
                        Patrocinaste: ${{ project.amount }}
                    </p>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>

{% endblock content %}