{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenix</title>
    <!-- Base style -->
    <link rel="stylesheet" tyoe="text/css" href="{% static 'css/style.css' %}">

    <!-- Inherit style -->
    {% block head %}
    {% endblock head %}

    <!-- Box icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- header -->
    <header>
        <a href="{% url 'home' %}" class="logo"><i class='bx bxs-home'></i></box-icon>Fenix</a>

        <ul class="navlist">
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li><a href="{% url 'projects' %}">Proyectos</a></li>
            <!-- <li><a href="#shop">Ciencia</a></li>
            <li><a href="#review">Tecnología</a></li>
            <li><a href="#contact">Cocina</a></li> -->
        </ul>

        <div class="nav-icons">
            <a href="#"><i class='bx bxs-user-account'></i></a>
            <a href="#"><i class='bx bx-search-alt-2'></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <!-- contact -->
    <section class="contact" id="contact">
        <div class="contact-content">
            <div class="contact-img">
                <div class="c-one">
                    <img src="img/f1.png" alt="">
                </div>
                <div class="c-one">
                    <img src="img/f2.png" alt="">
                </div>
            </div>
        </div>

        <div class="contact-text">
            <h2>Contacto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati sapiente in veniam adipisci esse voluptas accusantium placeat, facilis error, accusamus architecto ullam temporibus hic omnis. Modi velit minus dolorem nemo.</p>
            <div class="social">
                <a href="#" class="clr"><i class="bx bxl-instagram-alt"></i></a>
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-github"></i></a>
                <a href="#"><i class="bx bxl-google"></i></a>
            </div>
        </div>

        <div class="details">
            <div class="main-d">
                <a href="#"><i class="bx bxs-location-plus"></i>Main stree 65, ny, ny</a>
            </div>

            <div class="main-d">
                <a href="#"><i class="bx bxl-youtube"></i>Tadsad</a>
            </div>

            <div class="main-d">
                <a href="#"><i class="bx bxs-bell"></i>Subscribe</a>
            </div>

            <div class="main-d">
                <a href="#"><i class="bx bx-mobile-alt"></i>345363</a>
            </div>
        </div>

    </section>
    
    <!-- scroll top -->
    <a href="#" class="scroll">
        <i class="bx bx-up-arrow-alt"></i>
    </a>

<script src="https://unpkg.com/scrollreveal"></script>
<!-- link to js -->
<!-- <script src="js/script.js"></script> -->
<script src="{% static 'js/side.js' %}"></script>
</body>

</html>